/* , hi css */
/* 17:56 2024.06.26 - byl stworzony
 i moze poleci na github3 */

body{
	background-color:#f4f4f4;

}

#div01 {
	width: 200px;
	height: 100px;
	background-color: #F34A53;
	margin: 40px auto 0;
}


#div02 {
	width: 200px;
	height: 100px;
	background-color: #2FA4A5;
	margin: 40px auto 0;
}


/*  */